Введите, пожалуйста, Ваш адрес электронной почты и
%br
мы вышлем Вам	инструкцию по смене пароля:
- form_remote_tag do
  %label(for="email")
  = text_field_tag :email
  %br
  = submit_tag "Отправить"
  