- form_for :user do |form|
  = error_messages_for :user
  %p
    %label(for="user_password") Пароль:
    %br
    = form.password_field :password
  %p
    %label(for="user_password_confirmation") Подтверждение пароля:
    %br
    = form.password_field :password_confirmation
  %p= submit_tag "Отправить"
    