Уважаемый
= @user.login + " !"
Для переустановки пароля перейдите, пожалуйста, по этой ссылке:
= url_for(:host => 'localhost:3001', :controller => "sessions",	:action => "reset_password", :id => @user.pw_reset_code)