-form_for(@category) do |f|
  = f.error_messages
  %dl
    %dt Название
    %dd= f.text_field :name
    %dt Сезон одежды
    %dt= f.collection_select :season_id, Season.all, :id, :name, :include_blank => true
  %p= f.submit submit_label

    