<%= render :partial => 'navigation' %> 
<table> 
  <tr><th>№</th><th>Статус</th><th>Сумма, руб.</th><th>Наименований</th>
  	<th>Создан</th><th>Обновлён</th><th></th>
  </tr> 
  <%= render :partial => 'order', :collection => @orders %> 
</table> 

<%= will_paginate @orders %> 

